* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

#modal {
  display: none;
}

#header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-height: 180px;
}

li {
  max-width: 750px;
  min-width: 350px;
}